span {
  color: #FE702A;
}

.header {
  background-color: rgba(255, 255, 255, 0.1);
}

.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/banner2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/banner2.jpg);
  background-size: cover;
  padding-top: 96px;
}

.banner .div1 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.banner .div1 h1 {
  color: white;
  font-weight: 700;
}

.banner .div1 a {
  color: white;
  font-size: 0.8em;
  margin-right: 10px;
  margin-left: 10px;
}

.banner .div1 a:first-of-type {
  margin-left: 0px;
}

.banner .div1 .far {
  color: white;
  font-size: 0.5em;
  position: relative;
  bottom: 1px;
}

@media (max-width: 991px) {
  .banner {
    padding-top: 220px;
  }
  .banner .div3 {
    margin-top: 100px;
  }
  .banner .div3 h1 {
    font-size: 3em;
  }
}

.service {
  background-color: #FE702A;
}

.service .div0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

.service .div0 .div1 img {
  background: #ffa67a;
  border-radius: 100px;
  padding: 13px;
  width: 60px;
}

.service .div0 .div2 {
  margin-left: 25px;
}

.service .div0 .div2 h6 {
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

.service .div0 .div2 p {
  color: #ffdac8;
  font-size: 0.9em;
  width: 190px;
}

@media (max-width: 991px) {
  .service .div0 {
    margin-left: 0px;
  }
  .service .div0 .div2 p {
    width: auto;
  }
}

@media (max-width: 767px) {
  .service .div0 {
    margin-left: 30px;
  }
}

.video {
  background-color: #FE702A;
  margin-top: 100px;
}

.video .div1 {
  border-right: 2px dotted white;
  padding-right: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.video .div1 h2 {
  color: white;
  font-weight: 700;
}

.video .div1 h2 .span1 {
  color: black;
}

.video .div1 p {
  color: white;
}

.video .div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.video .div2 .fas {
  color: white;
  background: #F29264;
  padding: 40px;
  border-radius: 60px;
}

.video .div2 .fas:hover {
  cursor: pointer;
  background: transparent;
  border: 2px solid #FFEEE7;
}

.video .div2 h6 {
  color: white;
  font-weight: 600;
  margin-left: 15px;
}

@media (max-width: 1199px) {
  .video .div1 {
    padding-right: 60px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .video .div1 {
    padding-right: 10px;
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .video .div1 {
    margin-bottom: 0px;
  }
  .video .div2 {
    margin-bottom: 100px;
  }
}

.popup {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
}

.popup .box {
  position: relative;
}

.popup p {
  position: absolute;
  top: 0px;
  right: -34px;
  font-size: 2em;
  color: white;
  font-weight: 600;
  padding: 0px 7px;
}

.popup p:hover {
  background: white;
  color: red;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .popup iframe {
    width: 720px;
    height: 400px;
  }
}

@media (max-width: 767px) {
  .popup iframe {
    width: 500px;
    height: 280px;
  }
}

@media (max-width: 550px) {
  .popup iframe {
    width: 350px;
    height: 200px;
  }
  .popup p {
    top: -45px;
    right: 0;
  }
}

.blog {
  margin-top: 100px;
}

.blog .div1 {
  margin: 30px;
  border: 1px solid #ffece3;
  border-radius: 10px;
  margin-top: 20px;
}

.blog .div1:hover {
  border: 1px solid #FE702A;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.blog .div1 img {
  width: 100%;
  border-radius: 10px;
}

.blog .div1 h6 {
  background: -webkit-gradient(linear, left top, right top, from(#fe702a), to(#cc0f16));
  background: linear-gradient(90deg, #fe702a 0%, #cc0f16 100%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 0.8em;
  color: white;
  position: relative;
  top: -20px;
  left: 20px;
}

.blog .div1 h5 {
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.1em;
}

.blog .div1 p {
  font-size: 0.8em;
  color: gray;
  margin-left: 20px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .blog .div1 {
    margin: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .blog .div1 {
    margin: 0px;
    margin-top: 20px;
  }
}

.blog .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.blog .nav-link {
  background: #FFEEE7;
  margin: 2px;
  color: gray;
  font-weight: 600;
}

.blog .nav-pills .nav-link.active {
  background: -webkit-gradient(linear, left top, right top, from(#fe702a), to(#cc0f16));
  background: linear-gradient(90deg, #fe702a 0%, #cc0f16 100%);
}
/*# sourceMappingURL=blog.css.map */