@import '_config';

.header 
{
    background-color: rgba(255, 255, 255, 0.1);
}

.banner
{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/banner2.jpg);
    background-size: cover;
    padding-top: 96px;
}

.banner .div1
{
    margin-top: 100px;
    margin-bottom: 100px;
}

.banner .div1 h1
{
    color: white;
    font-weight: 700;
}

.banner .div1 a
{
    color: white;
    font-size: 0.8em;
    margin-right: 10px;
    margin-left: 10px;
}

.banner .div1 a:first-of-type
{
    margin-left: 0px;
}

.banner .div1 .far
{
    color: white;
    font-size: 0.5em;
    position: relative;
    bottom: 1px;
}

@media (max-width: 991px)
{
    .banner
    {
        padding-top: 220px;
    }

    .banner .div3
    {
        margin-top: 100px;
    }

    .banner .div3 h1
    {
        font-size: 3em;
    }
}


// *********************************SERVICE**************************************

.service
{
    background-color: $orange1;
}

.service .div0
{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
}

.service .div0 .div1 img
{
    background: #ffa67a;
    border-radius: 100px;
    padding: 13px;
    width: 60px;
}

.service .div0 .div2
{
    margin-left: 25px;
}

.service .div0 .div2 h6
{
    color: white;
    font-weight: 600;
    font-size: 1.2em;
}

.service .div0 .div2 p
{
    color: #ffdac8;
    font-size: 0.9em;
    width: 190px;
}

@media (max-width: 991px)
{
    .service .div0 
    {
        margin-left: 0px;
    }

    .service .div0 .div2 p
    {
        width: auto;
    }
}

@media (max-width: 767px)
{
    .service .div0 
    {
        margin-left: 30px;
    }
}

// ************************** VIDEO ************************

.video
{
    background-color: $orange1;
    margin-top: 100px;
}

.video .div1
{
    border-right: 2px dotted white;
    padding-right: 100px;
    margin-right: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.video .div1 h2
{
    color: white;
    font-weight: 700;
}

.video .div1 h2 .span1
{
    color: black;
}

.video .div1 p
{
    color: white;
}

.video .div2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.video .div2 .fas
{
    color: white;
    background: #F29264;
    padding: 40px;
    border-radius: 60px;
}

.video .div2 .fas:hover
{
    cursor: pointer;
    background: transparent;
    border: 2px solid $orange2;
}

.video .div2 h6
{
    color: white;
    font-weight: 600;
    margin-left: 15px;
}

@media (max-width: 1199px)
{
    .video .div1 
    {
        padding-right: 60px;
        margin-right: 50px;
    }
}

@media (max-width: 991px)
{
    .video .div1 
    {
        padding-right: 10px;
        margin-right: 0px;
    }
}

@media (max-width: 767px)
{

    .video .div1
    {
        margin-bottom: 0px;
    }

    .video .div2
    {
        margin-bottom: 100px;
    }
}

// ************************ POPUP **********************

.popup 
{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: rgba(0,0,0, 0.5);
    position: fixed;
    display: none;
}

.popup .box
{
    position: relative;
}

.popup p
{
    position: absolute;
    top: 0px;
    right: -34px;
    font-size: 2em;
    color: white;
    font-weight: 600;
    padding: 0px 7px;
}

.popup p:hover
{
    background: white;
    color: red;
    cursor: pointer;
}

@media (max-width: 1366px)
{
    .popup iframe 
    {
        width: 720px;
        height: 400px;
    }
}

@media (max-width: 767px)
{
    .popup iframe 
    {
        width: 500px;
        height: 280px;
    }
}

@media (max-width: 550px)
{
    .popup iframe 
    {
        width: 350px;
        height: 200px;
    }

    .popup p {
        top: -45px;
        right: 0;
    }
}



// ********************* CONTACT **********************

.contact
{
    margin-top: 100px;
}

.contact .div1 h3
{
    font-weight: 700;
    text-align: center;
}

.contact .div1 p
{
    text-align: center;
    font-size: 0.9em;
    color: gray;
    margin-top: 20px;
}

.contact .div2
{
    background-color: $orange2;
    padding: 40px;
    border-radius: 10px;
}

.contact .div2 .box
{
    display: flex;
    justify-content: space-between;
}

.contact .div2 .box .box1
{
    width: 48%;
}

.contact .div2 .box .box2
{
    width: 48%;
}

.contact .div2 .box select
{
    width: 100%;
    height: 40px;
    color: #bfbfbf;
    font-size: 0.8em;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

.contact .div2 .box p
{
    margin-bottom: 5px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 0.8em;
    margin-top: 20px;
}

.contact .div2 .box input
{
    width: 100%;
    height: 40px;
    color: #bfbfbf;
    font-size: 0.8em;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

.contact .div2 .p1
{
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: -5px;
}

.contact .div2 .p2
{
    margin-bottom: 5px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 0.8em;
    margin-top: 20px;
}

.contact .div2 textarea
{
    width: 100%;
    height: 130px;
    color: #bfbfbf;
    font-size: 0.8em;
    padding-left: 10px;
    padding-top: 5px;
    border: none;
    border-radius: 10px;
}

.contact .div2 a
{
    color: white;
    background: linear-gradient(90deg, rgba(254,112,42,1) 0%, rgba(204,15,22,1) 100%);
    padding: 15px 35px;
    border-radius: 30px;
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 0.8em;
    text-decoration: none;
    margin-top: 40px;
}

.contact .div2 a .far
{
    margin-left: 25px;
    font-size: 0.7em;
}

.contact .div2 a:hover
{
    background: linear-gradient(90deg, rgba(204,15,22,1) 0%, rgba(254,112,42,1) 100%,);
}

@media (max-width: 575px)
{
    .contact .div2 .box
    {
        display: block;
    }

    .contact .div2 .box .box1
    {
        width: 100%;
    }

    .contact .div2 .box .box2
    {
        width: 100%;
    }
}